@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  /* ## Colors */
  /* ### Primary */
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  /* ### Neutral */
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);

  /* ## Typography */
  /* ### Body Copy */
  --Font-size: 15px;

  /* ### Fonts */
  /* - Family: [Poppins](https://fonts.google.com/specimen/Poppins) */
  /* - Weights: 200, 400, 600 */
  --poppins: 'Poppins', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
}
body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 10px 50px;
  background: var(--Very-Light-Gray);
  position: relative;
}
.header {
  text-align: center;
}
.header__title {
  color: var(--Very-Dark-Blue);
  margin: 20px 0;
  font-size: clamp(20px, 5vw, 32px);
}
.title__span {
  font-weight: 200;
  color: var(--Grayish-Blue);
}
.header__detail {
  color: var(--Grayish-Blue);
  max-width: 530px;
}
.main {
  display: grid;
  grid-template-areas:
    'supervisor teamBuilder calculator'
    'supervisor karma calculator';
  place-items: center;
  grid-auto-flow: dense;
  gap: 20px;
}
.main__skills {
  background: white;
  width: 380px;
  height: 250px;
  border: 1px solid var(--Very-Light-Gray);
  border-top: 4px solid;
  padding: 20px 30px;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-top-left-radius: 10px 4px;
  border-top-right-radius: 10px 4px;
  box-shadow: 0 3px 20px -10px var(--Blue),
    0 5px 30px -20px var(--Very-Dark-Blue),
    0 4px 20px 10px var(--Very-Light-Gray);
}
.skills__title {
  margin-bottom: 10px;
  color: var(--Very-Dark-Blue);
}
.skills__details {
  color: var(--Grayish-Blue);
}
.main__skills-supervisor {
  border-top-color: var(--Cyan);
  grid-area: supervisor;
}
.main__skills-teamBuilder {
  border-top-color: var(--Red);
  grid-area: teamBuilder;
}
.main__skills-karma {
  border-top-color: var(--Orange);
  grid-area: karma;
}
.main__skills-calculator {
  border-top-color: var(--Blue);
  grid-area: calculator;
}
.skills__images {
  position: absolute;
  right: 30px;
  bottom: 20px;
}
@media screen and (max-width: 1220px) {
  .main {
    grid-template-areas:
      'supervisor teamBuilder '
      ' karma calculator';
  }
}
@media screen and (max-width: 800px) {
  .main {
    grid-template-areas:
      'supervisor' 'teamBuilder '
      ' karma' 'calculator';
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
.attribution a {
  color: var(--Red);
  font-size: 13px;
  text-decoration: none;
  font-weight: bold;
}
